@model BooksViewModel

<h1>The Book Store</h1>

@foreach (Book b in Model.Books) //after chnaging the model you need to add .Books
{
    //this pulls form the booksummary.cshtml page!
    <partial name="BookSummary" model="b"/>

}

@*passes to the tag helper that builds the pagination*@
<div page-book="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>



